@model ASPQuiz.Models.QuizPagedListViewModel

@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css"/>

@{
    ViewBag.Title = "Quiz";
}
<div class="col-xs-12 col-sm-12 text-center">
    @Html.PagedListPager(Model.PagedList, page => Url.Action("Index",
        new {page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter}))
</div>

<h4>Quiz</h4>
<div class="col-sm-8 col-xs-8">
    @{
        int Counter = 0;
    }
    @if (Model.PagedList.IsLastPage)
    {
        Counter = Counter + 3;
    }

    @foreach (var item in Model.PagedList)
    {
        Counter += 1;
        <div class="card col-sm-12 col-xs-12">
            <div class="card-block">
                <h4 class="card-title">Vraag @Counter van @Model.PagedList.TotalItemCount</h4>
                <p class="card-text">@item.QuestionText</p>
            </div>
            @if (Model.Quiz.Lines.Any(x => x.Question.Id == item.Id))
            {
                var Quiz = Model.Quiz.Lines.FirstOrDefault(x => x.Question.Id == item.Id);
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        @Quiz.Answer.AnswerText
                    </li>
                </ul>
            }
            else
            {
                <ul class="list-group list-group-flush">
                    @using (Html.BeginForm("AddToQuiz", "Quiz"))
                    {
                        @Html.Hidden("questionId", item.Id)
                        @Html.Hidden("answerId", item.Answer1.Id)
                        @Html.Hidden("returnUrl", Request.Url)
                        <li class="list-group-item">
                            @item.Answer1.AnswerText <input type="submit" data-inline="true" class="btn btn-success pull-right answerBtn" data-mini="true" value="Kies dit antwoord"/>
                        </li>
                    }
                    @using (Html.BeginForm("AddToQuiz", "Quiz"))
                    {
                        @Html.Hidden("questionId", item.Id)
                        @Html.Hidden("answerId", item.Answer2.Id)
                        @Html.Hidden("returnUrl", Request.Url)
                        <li class="list-group-item">
                            @item.Answer2.AnswerText <input type="submit" data-inline="true" class="btn btn-success pull-right answerBtn" data-mini="true" value="Kies dit antwoord"/>
                        </li>
                    }
                    @using (Html.BeginForm("AddToQuiz", "Quiz"))
                    {
                        @Html.Hidden("questionId", item.Id)
                        @Html.Hidden("answerId", item.CorrectAnswer.Id)
                        @Html.Hidden("returnUrl", Request.Url)
                        <li class="list-group-item">
                            @item.CorrectAnswer.AnswerText <input type="submit" class="btn btn-success pull-right answerBtn" data-inline="true" data-mini="true" value="Kies dit antwoord"/>
                        </li>
                    }
                </ul>
            }
        </div>
    }
</div>
<div class="col-sm-4 col-xs-4">
    @Html.Partial("QuizSession", Model.Quiz)
</div>