@model ASPQuiz.Domain.Entities.Quiz

<ul class="list-group list-group-flush">
    @foreach (var listitem in @Model.Lines)
    {
        using (Html.BeginForm("RemoveFromQuiz", "Quiz"))
        {
            @Html.Hidden("questionId", listitem.Question.Id)
            @Html.Hidden("answerId", listitem.Answer.Id)
            @Html.Hidden("returnUrl", Request.Url)
            <li class="list-group-item">@listitem.Question.QuestionText - @listitem.Answer.AnswerText</li>
            <li style="list-style-type: none">
                <input type="submit" class="btn btn-danger" data-inline="true" data-mini="true" value="Verwijder"/>
            </li>
            <br/>
        }
    }
     @if (Model.Lines.Count() == 5)
     {
         @Html.ActionLink("Lever de resultaten in", "quizView", "Quiz", new {area = ""}, new {@class = "btn btn-default"})
     }
 </ul>