@model PagedList.IPagedList<ASPQuiz.Domain.Entities.Question>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />   

@{
    ViewBag.Title = "Quiz";
}

<h2>Quiz</h2>
@foreach (var item in Model)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayFor(model => item.QuestionText)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => item.Answer1.AnswerText)
                <input type="checkbox"/>
            </td>
            <td>
                @Html.DisplayFor(model => item.Answer2.AnswerText)
                <input type="checkbox"/>
            </td>
            <td>
                @Html.DisplayFor(model => item.CorrectAnswer.AnswerText)
                <input type="checkbox"/>
            </td>
        </tr>
    </table>
}

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Quiz",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))